<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Monsters - Vue JS</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue"></script>

</head>
<body>
  <div id="app">
    <div class="game">
      <div class="player">
        <h3>Jogador</h3>
        <div class="barra-progresso">
          <div :style="[{width: healthPlayer + '%'}]" :class="['progresso', {danger: healthPlayer <= 20}]"></div>
        </div>
        {{healthPlayer}}%
      </div>

      <div class="player">
        <h3>Monstro</h3>
        <div class="barra-progresso">
          <div :style="{width: healthMonster + '%'}" :class="['progresso', {danger: healthMonster <= 20}]"></div>
        </div>
        {{healthMonster}}%
      </div>
    </div>

    <div v-if="result" class="new-game">
      <p class="result"  :style="{color: result}">{{result == 'green' ? 'Você Ganhou!' : 'Você perdeu! :('}}</p>
    </div>

    <div v-if="running" class="action">
      <button class="button__attack" @click=attack>Ataque</button>
      <button class="button__special" @click="attackSpecial">Ataque Especial</button>
      <button class="button__cure" @click="cure">Curar</button>
      <button class="button__giveup" @click="giveup">Reiniciar</button>
    </div>

    <div v-else class="new-game">
      <button class="button__newgame" @click="running = true" >Iniciar novo jogo</button>
    </div>

    <div v-if="logs.length" class="logs">
      <p v-for="(item, index) in logs" :key="index">{{item}}</p>
    </div>
  </div>

  <script src="main.js"></script>
</body>
</html>